body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}

.fa-twitter, button {
  color: white;
  font-size: x-large;
  background-color: red;
  border-radius: 7px;
  border: none;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}